html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.wrap {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.main-page {
    background: linear-gradient(269.77deg, #A5DEFF 0.18%, rgba(10, 202, 250, 0.03125) 98.99%, rgba(252, 254, 255, 0.0234124) 99%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 32px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-text {
    margin-left: 16px;
}

.banderogus__container {
    background: #fff;
    padding: 60px 56px 60px 56px;
    align-self: center;
}

.banderogus__title {
    color: #1B1D1F;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
}

.banderogus__greeting {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 16px;
}

.banderogus__start-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #FF6B0A;
    margin-bottom: 48px;
}

.banderogus__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banderogus__launch {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.main-page-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.banderogus__image {
    align-self: flex-end;
}

.gus__facts {
    padding: 52px 0 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gus__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1B1D1F;
    margin: 16px 0;
}

.gus__dscr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    width: 875px;
}

.gus__facts-container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.gus__fact-item {
   width: 33%; 
}

.gus__fact-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1B1D1F;
    margin: 12px 0 32px 0;
}

.gus__fact-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    width: 280px;
}

.victory__bgd {
    width: 1160px;
    padding: 72px 0;
    background: linear-gradient(269.77deg, #D3EFFF 0.18%, #FFFFFF 98.98%, rgba(10, 202, 250, 0.03125) 98.99%);
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    } 

.victory__footer {
    display: flex;
    justify-content: center;
}

.victory__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1B1D1F;
    margin: 16px 0;
}

.victory__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    width: 875px;
    text-align: center;
}

.modal__bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(27 29 31 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.modal__form {    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.modal__form-container {
    background-color: #FFFFFF;
    padding: 32px 92px 60px 92px;
    position: relative;
}

.modal__form-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin: 32px 0 12px 0;
}

.modal__form-descr {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.modal__form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal__field-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #000000;
    }

.modal__field-input {
    background: #FFFFFF;
    border: 1px solid #005BBB;
    border-radius: 8px;
    height: 48px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    padding: 4px 8px;
}

.modal__form-btn {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 24px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color:  #1B1D1F;
    cursor: pointer;
    border: 0;
    background: none;
}

.modal__descr {
    margin-bottom: 0;
}

.modal__active {
    opacity: 1;
    pointer-events: all;
}